div.listings-alphapager-wrapper:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    font-size: 0;
}

div.listings-alphapager {
    float: left;
    margin-bottom: 1em;
}
div.listings-alphapager span {
    float: left;
}
div.listings-alphapager ul, div.listings-alphapager li {
    float: left;
    list-style: none;
}
div.listings-alphapager ul {
    margin: 0 0 0 .5em;
    padding: 0;
}
div.listings-alphapager li {
    margin: 0 0 0 -1px;
    padding: 0 .4em;
    background: none;
    border: 1px;
    float: left;
    position: relative;
}

div.listings-alphapager li.listings-letter-active {
}

div.listings-alphapager a {
    text-decoration: none;
}
div.listings-alphapager li.listings-letter-active a {
    font-weight: bold;
}
